.header-fixed-top {
    margin-top: 7%;
    margin-left: 8%;
}

.header-strange-font {
    font-family: 'VT323', monospace;
    color: #FF4136;
    font-size: 500%;
}

@media only screen and (max-width: 600px) {
    .header-strange-font {
        font-size: 300%;
    }
}